*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
test/Manifest.toml
/docs/build/
gmsh-4.9.4-Windows64/
test/gmsh-4.9.4-Windows64/
meshgeometry.geo
gmsh-4.11.1-Windows64/
test/gmsh-4.11.1-Windows64/
meshgeometry.msh
test/simple.ggb
test/basic.ggb
docs/src/triangulations/waste.jl
docs/animation.jl
test/animation.jl
test/tassy.txt
lloyd_animation.mp4
docs/old
flipping_anim.mp4